.Button{
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    cursor: pointer;
    
    border-radius: 20px;
    background-color: #ff751a;
    color: white;

    transition: background-color .3s, color .3s;
}

.Button:hover{
    background-color: white;
    color: #ff751a;
}

.Button.General{
    border: solid 2px #ff751a;
    font-size: 2em;
}

.Button.Small{
    width: 100px;
    height: 33px;
    border: solid 1.5px #ff751a;
    font-size: 18px;
}