.GeneralButton{
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    border: solid 2px #ff751a;
    border-radius: 20px;
    background-color: #ff751a;
    color: white;

    font-size: 2em;

    transition: background-color .3s, color .3s;
}

.GeneralButton:hover{
    background-color: white;
    color: #ff751a;
}